<div class="container">
  <section id="products">
    <div class="row">
      <div class="container">
        <h2>{{favouriteMessage}}</h2>
      </div>
      <div class="col-md-4" *ngFor="let book of books">
        <div class="thumbnail">
          <img [src]="book.imageUrl" [style.width.px]="imageWidth" *ngIf='showImage'>
          <div [ngClass]="{'redClass': showImage,'yellowClass': !showImage}">ngClass test</div>
          <div class="caption">
            <h4 class="pull-right">
              {{book.price | currency:'THB':true}}
            </h4>
            <h4><a href="product.html">{{book.name | uppercase}}</a></h4>
            <p><b>Author: </b>{{book.author}}</p>
            <p><b>Description: </b>{{book.description | limitChar:10 }}</p>
            <p><b>Published On: </b>{{book.releaseDate | date:'longDate'}}</p>
            <p><b>In Stock: </b>{{book.inStock? 'YES':'NO'}}</p>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <p class="pull-right">Reviews {{book.starRating}}</p>
            <div class="clearfix"></div>
            <bs-favourite (favouriteClicked)="onFavouriteClicked($event)" 
            [favourite]="book.name" 
            [reviews]="book.starRating"></bs-favourite>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>